@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    @apply min-h-screen bg-gradient-to-br from-violet-200 to-purple-600
}


.container {
    @apply max-w-[1200px] mx-auto sm:p-6 p-4;

}

header {
    @apply bg-amber-50/80 backdrop-blur-md rounded-2xl p-4 mb-8 text-center shadow-[0_8px_32px_rgb(0,0,0,0.1)];
}

/* text-[clamp(1.6rem,calc(3vw+0.5rem),2.5rem)] */
h1 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-gray-600 mb-3 font-extrabold;
}

/* text-[clamp(1.4rem,calc(2vw+0.6rem),1.8rem)] */
h2 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl text-gray-600 font-bold mb-5;
}

h3 {
    @apply text-sm sm:text-base md:text-lg lg:text-xl font-semibold
}

p {
    @apply text-xs sm:text-sm md:text-base lg:text-lg font-bold sm:font-medium leading-5 md:leading-7
}

.nav-tabs {
    @apply flex flex-col sm:flex-row gap-y-4 gap-x-6 justify-center items-center mb-8
}

.tab-btn {
    @apply bg-white/80 py-3 px-6 rounded-3xl cursor-pointer font-semibold transition-all sm:shadow-[2px_4px_12px_rgb(0,0,0,0.4)] duration-[0.3s] ease-out w-[200px] sm:w-auto;
}

.tab-btn.active {
    @apply bg-blue-600 text-white sm:shadow-[0_6px_10px_rgb(183,190,224)] transition-all -translate-y-0.5;
}

.tab-btn:hover {
    @apply transition-all -translate-y-0.5 shadow-[0_6px_10px_rgb(0,0,0,0.15)]
}


.tab-container {
    @apply bg-amber-50 rounded-2xl p-8 shadow-xl;
}

.form-group {
    @apply flex flex-wrap flex-col md:flex-row gap-x-8 gap-y-5 mb-7;
}

.form-row {
    @apply w-full md:w-[calc(50%-20px)] space-y-1;
}

.form-row label {
    @apply block font-bold text-sm sm:text-base md:text-lg;
}

.form-row label::after {
    @apply content-["_*"] text-red-500
}

.form-row input {
    @apply w-full border-2 border-gray-300 outline-emerald-400 p-2 rounded-lg text-xs sm:text-base md:text-lg;
}

.error {
    @apply !border-red-500 !outline-none;
}

.form-row .error-message {
    @apply text-red-500 text-xs font-bold hidden;
}

.form-btn {
    @apply text-white sm:shadow-[0_6px_10px_rgb(183,190,224)] py-3 px-6 rounded-3xl cursor-pointer font-semibold transition-shadow duration-500
}

.form-btn:hover {
    @apply shadow-none
}

.success-message {
    @apply bg-green-100 text-green-700 px-4 py-3 rounded-lg mb-5 hidden border-l-4 border-green-600;
}

.edit-form {
    @apply bg-yellow-100 border-2 border-yellow-400 rounded-xl p-5 mb-5 hidden;
}

.tab-content {
    display: none;
    animation: fadeIn 0.5s ease ;
}
.tab-content.active{
    display: block;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}