@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root{
    --record-grid-cols : 60px minmax(120px,1fr) minmax(100px,130px) minmax(120px,1fr) minmax(100px,130px) minmax(100px,150px);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* Scrollbar */
html {
    scrollbar-width: thin; 
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    @apply min-h-screen bg-[linear-gradient(135deg,rgb(255,230,248)_0%,rgb(200,151,249)_100%)] cursor-default;
}

/* Container */
.container {
    @apply max-w-[1200px] mx-auto sm:p-6 p-4;
}


/* Header */
header {
    @apply bg-amber-50/80 backdrop-blur-md rounded-2xl p-4 mb-8 text-center shadow-[0_8px_32px_rgb(0,0,0,0.1)];
}

h1,h2 {
    @apply font-bold
}

h1 {
    @apply text-2xl sm:text-3xl md:text-4xl text-gray-600 mb-3;
}

h2 {
    @apply text-xl md:text-2xl lg:text-3xl text-red-500 mb-4 lg:mb-6;
}

h3 {
    @apply text-sm md:text-base lg:text-lg font-semibold
}

.description {
    @apply text-xs sm:text-sm md:text-base lg:text-lg font-medium leading-5 md:leading-7;
}


/* Navigation Tabs */
.nav-tabs {
    @apply flex flex-col sm:flex-row gap-4 justify-center items-center mb-8
}

.tab-btn {
    @apply bg-white/80 py-2.5 px-4 text-xs sm:text-base rounded-3xl cursor-pointer font-semibold transition-all shadow-[4px_4px_8px_rgb(0,0,0,0.5)] duration-[0.3s] ease-out min-w-40;
}

.tab-btn.active {
    @apply bg-blue-400 text-white shadow-[0_6px_8px_rgb(255,255,255)] transition-all -translate-y-0.5;
}

.tab-btn:hover {
    @apply transition-all -translate-y-0.5 shadow-[0_6px_10px_rgb(0,0,0,0.15)]
}

.tab-container {
    @apply w-full bg-amber-50 rounded-2xl p-4 md:p-8 shadow-xl;
}

.tab-content {
    @apply hidden animate-[fadeIn_0.5s_ease] w-full
}

.tab-content.active{
    @apply block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/*Student Register from */
.form-group {
    @apply flex flex-wrap flex-col lg:flex-row gap-x-8 gap-y-3 lg:gap-y-5 mb-7;
}

.form-row {
    @apply w-full lg:w-[calc(50%-20px)] space-y-1;
}

.form-row label {
    @apply block font-bold text-sm sm:text-base md:text-lg;
}

.form-row label::after {
    @apply content-["_*"] text-red-500
}

.form-row input {
    @apply w-full border-2 bg-white border-gray-300 outline-emerald-400 p-1 pl-2 rounded-lg text-xs sm:text-base md:text-lg;
}

.error {
    @apply !border-red-500 !outline-none;
}

.form-row .error-message {
    @apply text-red-500 text-xs sm:text-sm font-bold hidden;
}

.form-btn {
    @apply text-white sm:shadow-[0_6px_10px_rgb(183,190,224)] py-2.5 px-4 sm:py-3 sm:px-6 rounded-3xl cursor-pointer font-semibold text-sm sm:text-base transition-shadow duration-500
}

.form-btn:hover {
    @apply shadow-none bg-red-700
}

.success-message {
    @apply bg-green-100 text-green-700 p-5 rounded-lg mb-5 border-l-4 border-green-600;
}

.edit-form {
    @apply bg-yellow-100 border-2 border-yellow-400 rounded-xl p-5 mb-5 hidden;
}


/* Search Input */
.search-input input{
    @apply border-2 border-gray-400 p-2 pl-3 rounded-2xl
    w-full sm:w-[min(300px,40vw)] text-xs sm:text-sm bg-white; 
}


/* Records Table */
.records-grid{
    scrollbar-width: thin;
    @apply mt-4 bg-white rounded-lg shadow-2xl max-h-[80vh] md:max-h-[65vh] xl:max-h-[75vh] min-h-60 overflow-x-auto;

}

.records-table {
    @apply w-full h-full text-center relative;
}

.records-table th {
    @apply bg-gradient-to-r from-blue-500 to-blue-600 text-white py-3.5 px-2.5 font-bold text-xs md:text-sm lg:text-base border-r border-r-white sticky top-0 z-10;
}

.records-table td{
    @apply py-3 px-2.5 border-b-gray-100 text-xs sm:text-sm lg:text-base border-r border-r-white
}

.records-body tr:nth-child(even) {
    @apply bg-gray-300;
}

.records-body tr:nth-child(odd) {
    @apply bg-gray-100;
}

.records-table tr:hover{
    @apply bg-blue-200/60
}

/* Action buttons */
.action-buttons {
    @apply flex gap-3 justify-center flex-col md:flex-row
}

/* Button variants */
.btn-secondary {
    @apply bg-green-500 py-1 px-0.5 sm:px-2 rounded-md text-white text-xs sm:text-sm font-bold cursor-pointer;
}

.btn-secondary:hover{
    @apply bg-green-700
}
.btn-danger {
    @apply bg-red-500 py-1 px-0.5 sm:px-2 rounded-md text-white text-xs sm:text-sm font-bold cursor-pointer outline-hidden;
}

.btn-danger:hover{
    @apply bg-red-700
}

.btn-primary {
    @apply bg-black py-1 px-2 rounded-md text-white text-sm font-bold cursor-pointer;
}

.btn-primary:hover{
    @apply bg-gray-700
}

/* No records */
.no-records{
    @apply h-32 justify-center items-center bg-white shadow-2xl mt-5 rounded-lg text-center;
}

/* No matching records */
.no-match-record{
    @apply justify-center mt-5;
}



/* Delete modal */
.modal-overlay {
    @apply border m-auto rounded-md transform duration-300 ease-out;
}

.modal-overlay::backdrop{
    @apply backdrop-blur-sm bg-black/40
}

.modal {
    @apply bg-white text-center p-5
}

.modal-title{
    @apply text-red-500 mb-2 text-3xl
}

.modal-message {
    @apply text-gray-700 font-medium text-base
}

.modal-student-info {
    @apply bg-gray-100 p-3.5 border-l-red-500 rounded-lg mt-2 text-start space-y-0.5
}

.student-info{
    @apply font-bold inline-block mr-2.5 
}
.modal-actions {
    @apply flex flex-wrap gap-6 justify-center mt-6;
}

.btn {
    @apply p-2 text-base w-full sm:w-auto
}
